*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.hi{
    font-size: 35px;
    padding: 7px;
}

.wish{
    /* width: 100vw; */
    display: flex ;
    flex-direction: column;
    height: 100vh;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: rgb(143, 67, 16);
    background-color: rgb(241, 170, 122);
    padding: 3px;
    /* font-family: 'EB Garamond', serif;? */
    font-family: 'Courgette', cursive;
}

.wish2{
    display: flex ;
    flex-direction: column;
    height: 100vh;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    background-color: rgb(143, 67, 16);
    color: rgb(241, 170, 122);
    padding: 3px;
    font-family: 'Courgette', cursive;
}

.wish3{
    /* width: 100vw; */
    display: flex ;
    flex-direction: row;
    height: 100vh;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: rgb(143, 67, 16);
    background-color: rgb(241, 170, 122);
    padding: 3px;
    /* font-family: 'EB Garamond', serif;? */
    font-family: 'Courgette', cursive;
}

.line{
    margin: 10px;
}

.mono{
    /* margin: 3px; */
    padding: 2px;
}

#mono1{
    color: rgb(87, 41, 10);
}

#mono2{
    color: rgb(128, 60, 15)
}

#mono3{
    color: rgb(160, 79, 25);
}

#mono4{
    color: rgb(175, 93, 37);
}

#mono5{
    color: rgb(202, 110, 48);
}

#mono6{
    color: rgb(214, 126, 67);
}


.subt, a{
    padding: 5px;
    font-size: 18px;
}

a, a:visited{
    padding: 5px;
    text-decoration: underline;
    color: rgb(241, 170, 122);
}

a:hover{
    font-size: 17px;
}

.offer{
    color: rgb(175, 15, 15);
    font-size: medium;
}

#form{
    /* display: flex;
    flex-direction: column; */
    padding: 5px;
    font-size: 18px;
}

input{
    width: 100%;
    border: 2px solid red;
}

.subs{
    font-size: 35px;
    padding: 7px;
}

.pc{
    margin: 4px;
    padding: 20px;
}

#map{
    width: 90vw;
    object-fit: contain;
}

.ind{
    margin: 10px;
    padding: 5px;
}