.container{
    padding: 10px;
    width: 70%;
    height: 75vh;
}

.inp{
    margin: 3px auto;
    padding: 4px;
}

input[type="text"], input[type='password']{
    padding: 3px 7px;
}

#log{
    padding: 4px;
}

#hints{
    margin: 3px;
    padding: 3px;
}

#hintbtn, #close{
    padding: 4px;
    border-radius: 14px;
}

#hintbtn:hover, #close:hover, #hintbtn:active, #close:active {
    padding: 3px;
    border-radius: 14px;
    cursor: pointer;
}